.w3-input {
    width: auto;
}

.views-exposed-form .form-item {
    float: left;
    margin: 5px;
}

.views-exposed-form .form-actions {
    float: left;
    height: 100px;
    padding-top: 31px;
    margin-left: 1rem;
}

.views-exposed-form .button {
    display: inline-block;
    margin: 1rem 0.75rem 1rem 0;
    padding: calc(1rem - 1px) calc(1.5rem - 1px);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #232429;
    border: 1px solid transparent !important;
    border-radius: 2px;
    background-color: #d3d4d9;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1rem;
    -webkit-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
}

.views-exposed-form.views-exposed-form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 0.5rem 1.5rem 1.5rem 1.5rem;
    border: 1px solid #dedfe4;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.views-exposed-form--preview.views-exposed-form--preview {
    margin-top: 0;
}

.views-exposed-form__item.views-exposed-form__item {
    max-width: 100%;
    margin: 0.75rem 0.5rem 0 0;
    /* LTR */
}

[dir="rtl"] .views-exposed-form__item.views-exposed-form__item {
    margin-right: 0;
    margin-left: 0.5rem;
}

.views-exposed-form__item--preceding-actions.views-exposed-form__item--preceding-actions {
    margin-right: 1rem;
    /* LTR */
}

[dir="rtl"] .views-exposed-form__item--preceding-actions.views-exposed-form__item--preceding-actions {
    margin-right: 0;
    margin-left: 1rem;
}

.views-exposed-form__item--actions.views-exposed-form__item--actions .button {
    margin-top: 0;
    margin-bottom: 0;
}

.views-exposed-form__item--actions.views-exposed-form__item--actions .button:last-child {
    margin-right: 0;
}

[dir="rtl"] .views-exposed-form__item--actions.views-exposed-form__item--actions:last-child {
    margin-left: 0;
}

.views-exposed-form .form-item--no-label,
.views-exposed-form__item.views-exposed-form__item.views-exposed-form__item--actions {
    /* Line height of a label + existing margin for the element + margin for label */
    margin-top: 2.375rem;
}